<html ng-app='scartApp'>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<title>Shopping Cart</title>
</head>
<body ng-controller='SCartController'>
<h1>Multiplication</h1>
<div>
<table border = "1">
<tr>
<td><b>Quantity</b></td>
<td><b>Price</b></td>
<td><b>Total Price</b></td>
</tr>
<tr ng-repeat="item in items">
<td><input ng-model='item.quantity'></td>
<td>{{item.price | currency}}</td>
<td> {{item.price * item.quantity | currency}}</td>
</tr>
</table>
</div>
<script>
var sapp = angular.module('scartApp', []);
sapp.controller('SCartController', ['$scope', function($scope) {
$scope.items = [
{quantity: 10, price: 100},
{quantity: 12, price: 40},
{quantity:8, price: 15},
{quantity:5, price: 20}
];
}]);
</script>
</body>
</html>
