<!DOCTYPE html>
<html>
<head>
<script src=
"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
<script src="script.js"></script>
</head>
<body>
    <p>Deepak Durgam</p>
        <h1 style="color:orange">
            Multipication
        </h1>
        <div ng-app="myApp" ng-controller="mul">
            Enter First number:
            <input type="text" ng-model="n1">
            <br><br>
            Enter Second number:
            <input type="text" ng-model="n2">
            <br><br> 
            Multiplication : {{cal()}} 
        </div>
</body>
</html>